body {
    background-color: #ffd9d9;
    background-image: url("iwasakumark.png");
    background-repeat:repeat;
    background-size:15%;
    font-family: sans-serif;
    }

h1 {
    font-family: 'Pacifico', cursive;
    color: white;
    text-align: center;
    filter: drop-shadow(0 0 0.5rem #ff4d4d);
}

a  {
    text-decoration: none;
}

#description {
    font-size:75%;
}

#footer {
    text-align: center;
    font-size:80%;
    background-color: rgba(255, 217, 217,.7);
    /*width: 75%;*/
    margin: .5rem auto;
    font-size:65%;
}

@media screen and (min-width: 1000px) {
    #container {
        width: 90%;
        height:78vh;
        margin: 0 auto;
        display: flex;
        background-color: #c6e3fa;
        border-radius: 1rem;    
        overflow: hidden;
        filter: drop-shadow(0 0 0.5rem #91cfff);
    }

    #playlist {
        max-height: 100%;
        display: flex;
        flex-wrap:wrap;
        flex-basis: 20%;
        /*flex-shrink: 3;*/
        padding: 2.5%;
        overflow: auto;
    }

    #videocontainer {
        flex-basis: 70%;
        /*flex-shrink:1;*/
        padding: 2.5%;
        overflow: hidden;
    }

    #video {
        width: 100%;
        height: 55vh;
    }

    #videoinfo {
        height: 20vh;
        overflow: auto;
        margin-bottom: 1rem;
    }

    .thumbnail {
        width: 100%;
        flex-direction: column;
        padding: 0.25rem;
        min-width: 20vh;
        flex-shrink:0;
    }

    .thumbcontainer {
        position:relative;
    }


    .thumbtitle {
        display: none;
    }

    .thumbnail:hover+.thumbtitle {
        display:block;
        font-family: sans-serif;
        color: white;
        position:absolute;
        top:20%;
        left: 3%;
        background-color:rgba(0,0,0,0.7);
        text-align: center;
        font-size: 1vw;
        max-height: 50%;
        overflow: hidden;
    }

    .youtube-external-subtitle span { 
        font-size: 1rem;
        color:pink;
        font-weight: bold;
    }

}



@media screen and (max-width: 999px) {
     #container {
        width: 90%;
        min-height: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        background-color: #c6e3fa;
        border-radius: 1rem;
        filter: drop-shadow(0 0 0.5rem #91cfff);
    }

    #playlist {
        display: flex;
        flex-wrap: nowrap;
        padding: 2.5%;
        overflow: auto;
        max-width: 90%;
    }

    #videocontainer {
        display: block;
        overflow: hidden;
        padding: 2.5%;
    }

    #video {
        width:100%;
        height: 75%;
        height: 50vh;
    }

    #videoinfo {
        /*padding-bottom: 1rem;*/
    }

    .thumbnail {
        flex-direction: row;
        padding: 0.25rem;
        min-height: 4vh;
    }


    .thumbtitle {
        display:none;
    }

    .youtube-external-subtitle span { 
        font-size: max(2vw,2vh);
        color:pink;
        font-weight: bold;
    }


}






